ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #333333;

}

ul li {
  float: left;
  
}

ul li a:hover {
  background-color: #111111;
  color: white;
  padding: 14px 16px;
}

a{
    display: block;
    flex: none
}
